/* Додати фон, вага - 0,0,0,2 */
p {
    background-color: yellow;
}
/* Додати фон, вага - 0,0,1,1 */
.moment p{
    background-color: red;
}
/* Додати фон, вага - 0,1,0,0 */
#text > p{
    background-color: green;
}
/* Додати фон, вага - 0,0,0,2 */
a {
    background-color:chocolate;
}