.table_1 {
    width: 75%;
    height: 50px;
    position: absolute center;
}


td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 33.33%;
    height: 50px;
}
.line {
    height: 200px;
}

.table_2 {
    width: 80%;
    height: 50px;
    position: absolute center;
}

.two {
    width: 60%;
}

.three {
    width: 28%;
}

.table_3 {
    width: 80%;
    height: 200px;
    position: absolute center;
    margin: auto;
    padding: 12px 12px;
}
