$normal-font-size: 16px;
$ont-weight-lg: 500;
$font-weight-sm: 400;
$normal-font-style: Roboto, sans-serif;
$black-color: #000;
$white-color: #fff;
$metalic-blue: #34547A;
$nickel-color: #727272;
$grey-color: #eeeff3;
$gap-s:10px;
$gap: 20px;
$gap-lg: 40px;
$gap-lx: 80px;
$gap-sm: 10px;