/* Перший етап розтановки блоків */

.main_float_1 {
    clear: both;
}

.main_float_1 .block_1 {
    height: 100px;
    width: 100px;
    background-color: red;
    float: left;
}
.main_float_1 .block_2 {
    height: 100px;
    width: 100px;
    background-color: blue;
    float: right;
}

/* Другий етап розтановки блоків */

.main_float_2 {
    clear: both;
}

.main_float_2 .block_1 {
    height: 100px;
    width: 100px;
    background-color: red;
    float: left;
    margin-top: 100px;
}

.main_float_2 .block_2 {
    height: 100px;
    width: 100px;
    background-color: black;
    float: right;
    margin-top: 100px;
    margin-left: 100px;
}

.main_float_2 .block_3 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    float: right;
    margin-top: 100px;
    margin-right: -100px;
}

.main_float_2 .block_4 {
    height: 100px;
    width: 100px;
    background-color: blue;
    float: right;
    margin-top: 100px;
}

/* Третій етап розтановки блоків */

.main_float_3 {
    clear: both;
}

.main_float_3 .block_1 {
    height: 100px;
    width: 100px;
    background-color:chocolate;
    float: left;
    margin-top: 100px;
}

.main_float_3 .block_2{
    height: 100px;
    width: 100px;
    background-color:blueviolet;
    float: left;
    margin-top: 100px;
}

.main_float_3 .block_3 {
    height: 100px;
    width: 100px;
    background-color:burlywood;
    float: right;
    margin-top: 100px;
}

.main_float_3 .block_4 {
    height: 100px;
    width: 100px;
    background-color:darkcyan;
    float: right;
    margin-top: 100px;
}

/* Четвертий етап розтановки блоків */

.main_float_4 {
    clear: both;
}

.main_float_4 .block_1 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    float: right;
    margin-top: 100px;
}

.main_float_4 .block_2 {
    height: 200px;
    width: 200px;
    background-color: red;
    float: right;
    margin-top: 100px;
}

.main_float_4 .block_3 {
    height: 100px;
    width: 100px;
    background-color: blue;
    float: right;
    margin-top: 200px;
    margin-right: -300px;
}

/* П'ятий етап розтановки блоків */

.main_float_5 {
    clear: both;
}

.main_float_5 .block_1 {
    height: 200px;
    width: 200px;
    background-color: blue;
    float: left;
    margin-top: 100px;
    margin-left: 600px;
}

.main_float_5 .block_2 {
    height: 100px;
    width: 100px;
    background-color: wheat;
    float: left;
    margin-top: 200px;
}

.main_float_5 .block_3 {
    height: 100px;
    width: 100px;
    background-color: red;
    float: left;
    margin-top: 100px;
    margin-left: -100px;
}