.one {
    display: block;
}
.two {
    display: inline;
}
.three {
    display: flex;
}
.border_box {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    padding: 20px 20px;
    border: 5px solid black;
    background-color: aqua;
}
.content_box {
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    padding: 20px 20px;
    border: 5px solid black;
    background-color:crimson;
    margin-top: 10px;
}
.block {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    float: right;
}
.text {
    clear: both;
}
.overflow {
    background-color:violet;
    width: 150px;
    height: 100px;
    border: 5px solid black;
    overflow: scroll;
}
.view {
    box-sizing: border-box;
    background-color:rgb(75, 88, 175);
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: 20px;
    position: fixed;
}

.base {
    box-sizing: border-box;
    background-color:rgb(75, 88, 175);
    width: 100px;
    height: 100px;
    border: 5px solid black;
    margin: 20px;
    position: sticky;
}