body {
    background-color: rgb(228, 208, 118);
    font-family: sans-serif;
}

h1 {
    font-family:Verdana;
    border-bottom: 3px solid black;
    width: 50%;
    max-width: 1280px;
    padding: 12px 24px; 
    margin: auto;
    text-align: center;
}

.articales a{
    font-size: 24px;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 30px;
    padding: 8px 12px;
}


.main {
    background-color: black;
    color: aliceblue;
    border-radius: 4px;
    margin-top: 20px;
}

.read_next a:hover {
    text-decoration: none;
    color: black
}

.coments a{
    color: gray;
}

p::first-letter{
    color: red;
    font-size: 200%;
}