.form_group label {
    display: block;
    font-size: 14px;
    color: black;
}

.form_group input {
    width: fit-content;
    box-sizing: border-box;
    border: 2px solid black;
    text-transform: capitalize
}

.checkbox input {
    outline: 2px dashed #007BFF;
    width: 100px;
    height: 100px;
    
}
